
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.brand-scroll{
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.brand-scroll::-webkit-scrollbar {
  display: none;
}
.loader {
  --color-1: #fff;
  --size: 1px;
  width: calc(24 * var(--size));
  height: calc(24 * var(--size));
  border: calc(2 * var(--size)) solid var(--color-1);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (min-width: 768px) {
  .bg-md-transparent {
    background-color: transparent !important;
  }
}